<!-- Content Wrapper. Contains page content -->
<div ng-controller="ChatController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Chat
            <small>Users</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Chat</a></li>
            <li><a href="#">Users</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">在线用户</h3>
                        <div class="box-tools pull-right">
                            <span class="label label-danger">{{onlineUsers.length}}</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            <li ng-repeat="item in onlineUsers">
                                <img ng-src="{{item.avatar}}" alt="{{item.username}}" height="120px" width="120px">
                                <a class="users-list-name" href="#">{{item.username}}</a>
                                <button class="flat btn btn-primary btn-sm"
                                        ng-if="item.username!=loginUser.principal" ng-click="createDialogue(item.id)">
                                    添加好友
                                </button>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!--/.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">好友列表</h3>
                        <span class="label label-danger">未读消息数 {{userUnreadTotal}}</span>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            <li ng-repeat="item in userDialogueDTOs">
                                <a href="javascript:void(0)"
                                   ng-click="changDialogue(item.user.id,item.userDialogue.id)">
                                    <img ng-src="{{item.user.avatar}}" alt="User Image" height="128" width="128">
                                </a>
                                <a class="users-list-name" href="javascript:void(0)">{{item.user.username}}</a>
                                <p class="label label-danger">未读消息数: {{item.userDialogue.unreadTotal}}</p>
                                <a href="javascript:void(0)" class="label-danger label"
                                   ng-click="deleteDialogue(item.userDialogue.id)">删除</a>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!--/.box -->
            </div>
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget" style="display: none" id="chat">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{{priMessageDTO.toUser.avatar}}"
                                 alt="User Image">
                            <span class="username"><a href="#">{{priMessageDTO.toUser.username}}</a></span>
                        </div>
                        <!-- /.box-tools -->
                        <div class="box-tools">
                            <div class="btn-group btn-small">
                                <button type="button" class="btn btn-primary btn-sm btn-flat"
                                        ng-click="uploadImageModal()">
                                    图片
                                </button>
                                <button type="button" class="btn btn-info btn-sm btn-flat"
                                        ng-click="uploadVideoModal()">
                                    视频
                                </button>
                                <button type="button" class="btn btn-warning btn-sm btn-flat"
                                        ng-click="uploadFileDivModal()">
                                    文件
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-flat"
                                        ng-click="sendGraphicTextModal()">卡片
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-flat"
                                        ng-click="sendGraphicTextModal()">名片
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-flat"
                                        ng-click="sendLocationDivModal()">地理位置
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-flat"
                                        ng-click="takeSnapshotDivModal()">拍照
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-flat"
                                        ng-click="recordVideoDivModal()">录制视频
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-flat"
                                        ng-click="recordAudioDivModal()">录制音频
                                </button>
                                <a href="https://appr.tc/" target="_blank">
                                    <button type="button" class="btn btn-success btn-sm btn-flat">语音通讯
                                    </button>
                                </a>
                                <a href="https://appr.tc/" target="_blank">
                                    <button type="button" class="btn btn-success btn-sm btn-flat">视频通讯
                                    </button>
                                </a>
                                <a href="https://appr.tc/" target="_blank">
                                    <button type="button" class="btn btn-success btn-sm btn-flat">直播
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div id="directChat" style="height: 400px;overflow-y:scroll">
                        <div id="directMessage" style="display: none"></div>
                    </div>
                    <!-- /.box-footer -->
                    <div class="box-footer">
                        <form method="post" ng-submit="sendMessage(message,0)">
                            <img class="img-responsive img-circle img-sm"
                                 src="{{priMessageDTO.user.avatar}}" alt="Alt Text">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input type="text" class="form-control input-sm"
                                       placeholder="Press enter to post comment" ng-model="message">
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->


    <div class='modal' id='uploadImgDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Upload Image</h4>
                </div>
                <form method="post" ng-submit="upload(1)">
                    <div class='modal-body'>
                        <div class="input-group">
                            <input type="file" name="file" id="file">
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button type="submit" class='btn btn-primary'>Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class='modal' id='uploadVideoDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Upload Video</h4>
                </div>
                <form method="post" ng-submit="upload(2)">

                    <div class='modal-body'>
                        <div class="input-group">
                            <input type="file" name="file" id="file2">
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button type="submit" class='btn btn-primary'>Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class='modal' id='uploadFileDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Upload File</h4>
                </div>
                <form method="post" ng-submit="upload(7)">

                    <div class='modal-body'>
                        <div class="input-group">
                            <input type="file" name="file" id="file7">
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button type="submit" class='btn btn-primary'>Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class='modal' id='sendGraphicTextDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Send GraphicText</h4>
                </div>
                <form method="post" ng-submit="sendGraphicText(graphicText)">

                    <div class="modal-body">
                        <div class='form-group'>
                            <label>Title:</label>
                            <input type='text' class='form-control' ng-model="graphicText.title" title="">
                        </div>
                        <div class='form-group'>
                            <label>Text:</label>
                            <input type='text' class='form-control' ng-model="graphicText.text" title="">
                        </div>
                        <div class='form-group'>
                            <label>Image:</label>
                            <input type='text' class='form-control' ng-model="graphicText.img" title="">
                        </div>
                        <div class='form-group'>
                            <label>Url:</label>
                            <input type='text' class='form-control' ng-model="graphicText.url" title="">
                        </div>

                    </div>
                    <div class='modal-footer'>
                        <button type="submit" class='btn btn-primary'>Send</button>
                    </div>
                </form>

            </div>

        </div>
    </div>


    <div class='modal' id='recordVideoDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Record Video</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <video id="recordVideo" height="100%" width="100%" autoplay controls></video>
                    </div>
                    <div class='modal-footer'>
                        <button type="button" class='btn btn-info' ng-click="startRecordVideo()">Start</button>
                        <button type="button" class='btn btn-danger' onclick="stopRecordVideo()">Stop</button>
                        <button type="button" class='btn btn-warning' onclick="downloadVideoRecord()">Download</button>
                        <button type="submit" class='btn btn-primary' ng-click="sendRecordVideo()">Send</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <div class='modal' id='recordAudioDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Record Audio</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <audio id="recordAudio" autoplay controls></audio>
                    </div>
                    <div class='modal-footer'>
                        <button type="button" class='btn btn-info' ng-click="startRecordAudio()">Start</button>
                        <button type="button" class='btn btn-danger' onclick="stopRecordAudio()">Stop</button>
                        <button type="button" class='btn btn-warning' onclick="downloadAudioRecord()">Download</button>
                        <button type="submit" class='btn btn-primary' ng-click="sendRecordAudio()">Send</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <div class='modal' id='takeSnapshotDiv'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Record Audio</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div>
                            <video id="takeVideo" height="100%" width="100%" autoplay></video>
                        </div>
                        <div style="height: 200px;overflow-y:scroll" id="takeSnapshotPhotosDiv">
                            <ul class="mailbox-attachments clearfix" id="takeSnapshotPhotos">
                            </ul>
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button type="button" class='btn btn-warning' onclick="takeSnapshot()">Take</button>
                        <button type="button" class='btn btn-danger' onclick="stopStream()">Stop</button>
                        <button type="submit" class='btn btn-primary' ng-click="sendTakeSnapshots()">Send</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <div class='modal' id='locationDivModal'>
        <div class='modal-dialog modal-lg'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'>
                        <span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
                    </button>
                    <h4 class='modal-title'>Location</h4>
                </div>
                <form method="post">
                    <div class="modal-body">

                        <div id="allmap" style="height: 400px"></div>
                        <div class='form-group' id="r-result">
                            <label>Search:</label>
                            <input type='text' class='form-control' id="suggestId" title="搜索"/>
                            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button type="submit" class='btn btn-primary' ng-click="sendLocation()">Send</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
